<div>
    <div>
        <tr>
            <td style="padding: 10%;">
                    <img src="/assets/profile.jpg" alt="황준오 (Bactoria)" style="border-radius: 50%; max-width: 15%;">
            </td>
            <td style="padding: 10%;">
                <a title="About 황준오 (Bactoria)" rel="author">
                    <p style="color: #454545; font-size: 2em;">
                        황준오 (Bactoria) 
                    </p>
                </a>
                <p style="color: #454545;">
                    .
                </p>                
                <div class="article__author__socials">
                    <a class="article__author__socials__item" href="http://github.com/bactoria" title="github" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
            </td>
        </tr>
    </div>
    <meta itemprop="name" content="황준오 (Bactoria)">
</div>
