<div style="padding: 20px 0;">
        <table style="border: none;">            
        <tr>
            <td align="left" style="padding: 10%">
                    <img src="/assets/profile.jpg" width= "180px" alt="황준오 (Bactoria)" style="border-radius: 50%;">
            </td>
            <td>
                    <a title="About 황준오 (Bactoria)" style="color: #454545; font-size: 1.3em;">
                            황준오 (Bactoria) 
                    </a>
                    
                    <p style="color: #454545;">
                        .
                    </p>                
                    
                    <div>
                        <a href="http://github.com/bactoria" title="github" target="_blank">
                            <i class="fa fa-github"></i>
                        </a>
                    </div>
            </td>    
        </tr>
        </table>
</div>
