<div style="padding: 10px;">
        <table style="border: none;">            
        <tr>
            <td align="left">
                    <img src="./profile.jpg" alt="황준오 (Bactoria)" style="border-radius: 50%; width: 100px;">
            </td>
            <td  style="width: 80%; padding: 40px;">
                    <a title="About 황준오 (Bactoria)" style="color: #454545; font-size: 1.3em;">
                            황준오 (Bactoria) 
                    </a>
                    
                    <p style="color: #454545;">
                        .
                    </p>                
                    
                    <div class="article__author__socials">
                        <a class="article__author__socials__item" href="http://github.com/bactoria" title="github" target="_blank">
                            <i class="fa fa-github"></i>
                        </a>
                    </div>
            </td>    
        </tr>
        </table>
</div>
